

  <% if current_user %>
    <%= link_to "Your Notes", notes_path %>
    <%= link_to "New Note", new_note_path %>
  <% else %>

    <h1>Welcome To Jot</h1>
    <p class="bg-primary">You should sign up!</p>

    <%= link_to "Sign up", sign_up_path %>
  <%end%>
